@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;

400;700&display=swap);ul {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 40%;
  width: 100%;
}

header .logo {
  width: 100%;
  padding: 25px;
  text-align: center;
}

header img.logo {
  width: 300px;
  padding: 20px;
}

header .nav-header {
  height: 40px;
}

header .nav-list {
  display: flex;
  justify-content: center;
}

header .nav-list a {
  padding: 10px 15px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 24px;
}

header .nav-list a.active {
  background-color: royalblue;
}

main {
  width: 100%;
  background-image: url("/images/fondo-pag-speciali.jpg");
}

main .container {
  padding: 20px;
  max-width: 80%;
}

main .container .lunga,
main .container .corta,
main .container .cortissima {
  display: flex;
}

main .container .img_pasta {
  width: 300px;
}

main .container .prodotto {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

main .container .titolo-prodotto {
  text-transform: uppercase;
  padding: 20px;
  color: #0f3cc4;
}

main .container .titolo-prodotto h2 {
  font-size: 30px;
}

footer {
  display: flex;
  height: 500px;
}

footer .logo-footer {
  padding: 30px;
}

footer .logo-footer .logo {
  height: 100px;
}

footer .footer-img {
  display: flex;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
}

