main {
    display: flex;
    width: 100%;
    background-image: url('/images/fondo-pag-speciali.jpg');
    

    .container {
       
        max-width: 80%;

        .lunga, .corta, .cortissima {
            display: flex;
        }


        .img_pasta {
            width: 300px;
        }

        .prodotto {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
}