main {
    display: flex;
    width: 100%;
    background-color: royalblue;
    

    .container {
       
        max-width: 80%;

        .lunga {
            display: flex;
        }


        .img_pasta {
            width: 300px;
        }
    }
}