main {
    width: 100%;
    background-image: url('/images/fondo-pag-speciali.jpg');
    

    .container {
        padding: 20px;
        max-width: 80%;

        .lunga, .corta, .cortissima {
            display: flex;
        }


        .img_pasta {
            width: 300px;
        }

        .prodotto {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .titolo-prodotto {
            text-transform: uppercase;
            padding: 20px;
            color: $mainColor;

            h2 {
                font-size: 30px;;
            }
        }
    }
}